<mat-toolbar color="primary">
  <span style="font-size: 1.2em; font-weight: bold;">My Plants</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/my-plants">View Plants</button>
  <button mat-button routerLink="/add-plant">Add Plant</button>
</mat-toolbar>

<div style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
  <button mat-raised-button color="accent" routerLink="/my-plants">View Plants</button>
  <button mat-raised-button color="warn" routerLink="/add-plant">Add Plant</button>
</div>
<router-outlet></router-outlet>
